<form method="POST" action="/prehistoric_creatures"
    <label for="prehistoricType">Type</label>
    <input id="prehistoricType" type="text" name="type">
    <label for="prehistoricName">Image URL</label>
    <input id="prehistoricName" type="text" name="img_url">
    <input type="submit">
</form>